@import '_variables.scss';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//1. Variables below
$primary-color: #DD1C1A;
$secondary-color: #F0C808;
$almost-white:#F2F4F3;
$dark-blue: #086788;
$light-blue: #06AED5;
$font-body: Times, serif;
$font-headings: Arial, sans-serif;

// 3. Adding a mixin to deal with hovers, changing color and font size
@mixin hoverChange ($color){
  font-size: 110%;
  color: $color;
}

body {
  background: $light-blue;
  color: black;
  font-family: $font-body;
}

//2. Nesting
.nav {
    background: $primary-color;
  a{
    color: white;
  }
  a:hover {
    //calling on the mixin for hovers
    @include hoverChange(#ffff00);
  }
}

h1 {
  text-shadow: 2px 2px 4px #bfbfbf;
  font-family: $font-headings;
}
